.container__flex {
    display: flex;
    flex-direction: row;
    padding : 14px;
    background-color : white;
}

.flex__input {
    border: 1px solid lightgrey;
    flex-basis: 80%;
    margin-right: 10px;
}

.flex__button {
    padding : 10px;
    background-color: rgb(12, 139, 139);
    color: white;
    border: none;
    flex-basis: 20%;
} 

.flex__button:hover {
    padding : 10px;
    background-color: rgb(11, 182, 182);
    color: white;
    border: none;
}
@media (max-width: 767px) {
    .container__flex {
        flex: 1 0 0;
        flex-wrap: wrap;
        justify-content: center;
       
    }
    .flex__button {
        flex-basis: 100%;
    }
    .flex__input {
        flex-basis: 100%;
        margin-bottom: 10px;
        height: 37px;
        margin-right: 0px;
    }

}