.header {
    text-align: left;
    max-width: 1000px;
    margin: 0 auto;
    margin: 10px;
    margin-bottom: 5px;
    margin-top: 20px;
    background-color: rgb(245, 245, 245);
    font-family: "Lato", sans-serif;
}